[Unit]
Description=IP & MAC Changer Service
After=network.target tor.service
Wants=tor.service
Documentation=https://github.com/Dhrub001/ip-mac-changer

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/ip-mac-changer
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=ip-mac-changer

[Install]
WantedBy=multi-user.target
